{% extends "base.twig" %}

{% block content %}
  <div class="error-404 not-found min-h-screen bg-gray-100 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <img src="https://geek.design/wp-content/uploads/2019/01/404_Pages.png" class="h-[450px] w-[600px]">
	<div class="max-w-md w-full space-y-8 bg-white p-10 rounded-xl shadow-md">
      <header class="page-header text-center">
        <h1 class="page-title text-4xl font-extrabold text-gray-900 mb-2">
          {{ __('¡Ups! Página no encontrada', 'timber-starter-theme') }}
        </h1>
      </header>

      <div class="page-content space-y-6">
        <p class="text-center text-gray-500">
          {{ __('Lo sentimos, pero la página que estás buscando no existe.', 'timber-starter-theme') }}
        </p>
        
        <div class="error-actions flex justify-center">
          <a href="{{ site.url }}" class="button px-6 py-3 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            {{ __('Volver a la página de inicio', 'timber-starter-theme') }}
          </a>
        </div>

        <div class="search-404 mt-8">
          <h2 class="text-2xl font-bold text-gray-900 mb-4 text-center">
            {{ __('¿Quieres intentar una búsqueda?', 'timber-starter-theme') }}
          </h2>
          {% include 'partial/searchform.twig' %}
        </div>

        {% if fn('have_posts') %}
          <div class="popular-posts mt-12">
            <h2 class="text-2xl font-bold text-gray-900 mb-4 text-center">
              {{ __('Páginas populares', 'timber-starter-theme') }}
            </h2>
            <ul class="space-y-2">
              {% for post in posts | slice(0, 5) %}
                <li class="text-center">
                  <a href="{{ post.link }}" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">
                    {{ post.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}