{% extends "base.twig" %}

{% block content %}
<div class="container mx-auto px-4 py-8 bg-[#26243E]">
    <h1 class="text-4xl font-bold text-center text-blue-800 mb-8">BlendCraft Studios.</h1>
    <p class="text-lg text-gray-700 text-center mb-8">
        Explora nuestros servicios y descubre cómo podemos ayudarte a alcanzar tus objetivos.
    </p>
    <img src="https://33.media.tumblr.com/6dea7a21a4a6b68c2e9afad85d414509/tumblr_nezlquXcmJ1qffbleo1_500.gif" alt="BlendCraft Studios Animation">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for post in posts %}
            <article class="bg-[#26243E] text-white shadow-lg rounded-lg overflow-hidden transform transition duration-500 hover:scale-105">
                <img src="{{ post.thumbnail }}" alt="{{ post.title }}" class="w-full h-48 object-cover">
                <div class="p-6">
                    <h2 class="text-2xl font-bold text-blue-800 mb-4">{{ post.title }}</h2>
                    <p class="text-gray-600 mb-4">{{ post.excerpt }}</p>
                    <a href="{{ post.link }}" class="text-blue-600 hover:text-blue-800 font-semibold">Leer más</a>
                </div>
            </article>
        {% else %}
            <p class="text-center text-gray-500">No hay publicaciones disponibles en este momento.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
